h1, h2, h3, h4, h5, h6 {
	clear: both;
}

.entry-content h1 {
	font-size: 30px;
}
header.page-title {
	width: 100%;
	float: left;
	text-align: center;
	// margin: 40px 0;
	h1 {
		font: {
			size: 40px;
		}
		color: #fff;
	}
}

.skrollable-before header.page-title h1, .skrollable-between header.page-title h1, .skrollable-after header.page-title h1 {
	
		@include transition(all ease .3s);
	
}
.skrollable-before header.page-title h1{
	font-size: 50px;
	text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}
.skrollable-between header.page-title h1{
	// font-size: 45px;
	text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}
.skrollable-after header.page-title h1{
	// font-size: 40px;
	text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}