* { -webkit-hyphens: none; }
div {
	

	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: none;
	-moz-hyphens: none;
	-webkit-hyphens: none;
	hyphens: none;
}
html {
	min-height: 100%;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,803f99+100 */
background: rgb(0,0,0); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(0,0,0,1) 0%, rgba(128,63,153,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(0,0,0,1) 0%,rgba(128,63,153,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(0,0,0,1) 0%,rgba(128,63,153,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#803f99',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.clear {clear: both;}
#content {
	width: 100%;
	float: left;
	// background-color: #F5F5F5;
	// min-height: 700px;
	// margin-top: 10px;
}
#page {
	width: 100%;
	margin: 0 auto;
}
#primary {
}
.wrapper {
	width: 100%;
	margin: 0px auto;
	padding: 0 20px;
	position: relative;
	
	@media screen and (min-width: $tabwidth) {
		width: 100%;
	}
	@media screen and (min-width: $deskwidth) {
		width: 96%;
		padding: 0;
		margin: 0 2%;
	}
}
header#masthead {
	background-color: #fff;
	width: 100%;
	float: left;
}
.top-banner {
	width: 100%;
	float: left;
	margin: 0;

	a {
		display: block;
		line-height: 0;
	}
	img {
		width: 100%;
	}
}
.content-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 66%;
		float: left;
		margin: 50px 0 0 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}
.content-area-full {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		margin: 50px 0 0 0;
	}
	@media screen and (min-width: $deskwidth) {
	}
}

.widget-area {
	width: 100%;
	margin: 0px auto;
	padding-bottom: 40px;
	
	@media screen and (min-width: $tabwidth) {
		width: 26%;
		float: right;
		margin: 50px 0 0 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}

	h3 {
		color: #fff;
	}
}
.widget-wrap {
	padding: 20px;
}
.transparent-black {
	background-color: rgba(0,0,0,.5);
	padding: 1%;
}
.content-block {
	background-color: #000;
	color: #fff;
	margin-bottom: 30px;
}
article.article {
	padding: 2%;
	    width: 100%;
    float: left;
}
article.page {
	color: #fff;

}
.head-flex {
	display: flex;
	justify-content: space-between;
}
/* Logo */
.logo , h1.logo {
	// width: 300px;
	width: 80%;
	// height:85px;
	// background: {
	// 	image: url(images/logo.png);
	// 	size: cover;
	// 	repeat: no-repeat;
	// }
	margin: 10px auto;
	img {
		width: 100%;
	}

	@media screen and (min-width: $tabwidth) {
		// width: 250px;
		// height:75px;
		width: 30%;
		float: left;
		margin: 10px 0 0 0;
	}
	@media screen and (min-width: $deskwidth) {
		// width: 485px;
		// height:154px;
	}
}
.logo a, h1.logo a {
	// width: 300px;
	// height:85px;
	display: block;
	// text-indent: -9000px;

	@media screen and (min-width: $tabwidth) {
		// width: 250px;
		// height:75px;
	}
	@media screen and (min-width: $deskwidth) {
		// width: 485px;
		// height:154px;
	}
}
.skrollable-after {
	.logo {
		width: 200px;
			height:64px;
		@media screen and (min-width: $tabwidth) {
			width: 200px;
			height:64px;
		}
		@media screen and (min-width: $deskwidth) {
			
		}
	}
	.logo a {
		width: 200px;
			height:64px;
		@media screen and (min-width: $tabwidth) {
			width: 200px;
			height:64px;
		}
		@media screen and (min-width: $deskwidth) {
			
		}
	}
}
.skrollable-between, .skrollable-after {
	.logo, .logo a {
		@include transition(all ease .3s);
	}
}
.skr-slide {
	width: 100%;
	float: left;
}
section.mission {
	color: #fff;
}
.bcg, .bcg-page, .bcg-page-secondary {
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;
}
.header-top {
	width: auto;
	display: inline-block;
	top: 0;
	right: 0;
	position: absolute;
	.buttons {
		width: auto;
		display: inline-block;
		float: left;
	}
	.button {
		width: auto;
		display: inline-block;
		a {
			background-color: #eaeaec;
			border: 0;
		}
	}
}
.social {
	width: auto;
	display: inline-block;
	margin: 10px 0 0 0;

	@media screen and (min-width: $tabwidth) {
		float: right;
		
	}

	i {
		width: 25px;
		height: 25px;
		position: relative;
		@include transition(all .1s ease);
		margin: 0 0 0 10px;
		font-size: 25px;

		&:hover {
			transform: scale(1.4);
		}

		a {
			width: 30px;
			height: 30px;
			position: absolute;
    		top: 0;
    		left: 0;
			text-indent: -9000px;
			display: block;
			
			&:hover:before {
			  visibility: hidden;
			}
			
		}
	}
}
/* Slide 1 */
#slide-1 .bcg {
	height: 450px;
}
#slide-2 .bcg {
	height: 450px;
}
#slide-3 .bcg {
	height: 450px;
}
#slide-4 .bcg {
	height: 450px;
}
#slide-5 .bcg {
	height: 450px;
}
#slide-page .bcg-page {
	height: 350px;
	
}
#slide-page-secondary .bcg-page {
	height: 300px;
}
.skrollable-between.bcg-page, .skrollable-after.bcg-page {
	
		@include transition(all ease .3s);
	
}
.skrollable-between.bcg-page {
	height: 350px;
		// filter: sepia(100%);
  //  -webkit-filter: sepia(100%);

}
.skrollable-after.bcg-page {
	height:150px;
		// filter: sepia(100%);
  //  -webkit-filter: sepia(100%);
	
}
#home-intro .bcg {
	height: 150px;
	padding: 0px 0 0px 0;
}
.section {
	width: 100%;
	float: left;
	padding: 5%;
	text-align: center;
}
.purple {
	background-color: rgba($color-purple,1);
	color: #fff;
}
.site-info {
	width: 100%;
	float: left;
	margin: 5px auto;
	font-size: 10px;
}
.site-footer {
	width: 100%;
	float: left;
	clear: both;
	.footer-flex {
		width: 100%;
		float: left;
		clear: both;
		@media screen and (min-width: $tabwidth) {
			display: flex;
			justify-content: space-between;
		}
	}
	.footer-left {
		width: 100%;
		text-align: center;
		@media screen and (min-width: $tabwidth) {
			width: 28%;
			text-align: left;
		}
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}
		li {
			font-size: 16pt;

		}
		a {
			color: #fff;
			text-decoration: none;
		}
	}
	.footer-mid {
		width: 100%;
		text-align: center;
		@media screen and (min-width: $tabwidth) {
			width: 28%;

		}
	}
	.footer-right {
		width: 100%;
		text-align: center;
		@media screen and (min-width: $tabwidth) {
			width: 28%;
			text-align: left;
		}
	}
}
.button-home {
	a {
		width: auto;
		display: inline-block;
		padding: 10px 15px;
		margin: 0  0 10px 0;
		background-color: rgba(255,255,255,1);
		color: $color-purple;
		text-decoration: none;
		border: 1px solid $color-purple;
		@include transition(all ease .3s);
		&:hover {
			background-color: rgba($color-purple,1);
			color: #fff;
		}
	}
}
.button {
	a {
		width: 100%;
		display: inline-block;
		padding: 10px 15px;
		margin: 0  0 10px 0;
		background-color: rgba(255,255,255,1);
		color: $color-purple;
		text-decoration: none;
		border: 1px solid $color-purple;
		@include transition(all ease .3s);
		&:hover {
			background-color: rgba($color-purple,1);
			color: #fff;
		}
	}
}
.button-purple {

	a {
		width: 100%;
		display: inline-block;
		padding: 10px 15px;
		margin: 0  0 10px 0;
		text-align: center;
		background-color: rgba($color-purple,1);
		color: #fff;
		text-decoration: none;
		border: 1px solid $color-purple;
		@include transition(all ease .3s);
		&:hover {
			background-color: rgba(255,255,255,1);
			
			color: $color-purple;
		}
	}
}
section.hero {
	width: 70%;
	position: absolute;
	top: 30%;
	left: 10%;
	// float: left;
	// margin: 5% 0 0 5%;
	color: #fff;
	h2 {
		font-size: 36px;
		font-weight: 300;
	}

}
section.page-hero {
	width: 100%;
	float: left;
	margin: 0;
	color: #fff;
	h2 {
		font-size: 44px;
		font-weight: 300;
		margin: 0 0 0 0;
	}

}
.small-wrap {
	width: 60%;
	margin: 0 auto;

	video {
		max-width: 100%;
	}
}
.video-wrap {
	width: 60%;
	margin: 0 auto;
	padding: 40px 0 40px ;

	h3 {
		width: 100%;
		text-align: center;
		font-size: 40px;
		margin-top: 20px;
		clear: both;
	}

	video {
		max-width: 100%;
	}
}
.board-member {
	width: 30%;
	margin: 1.2%;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	display: inline-block;

	img {
		width: 100%;
		border-radius: 50%;
	}

	.info {
		width: 100%;
		height: 100%;
		position: absolute;
		background-color: rgba(255,255,255,0);
		@include transition(all ease .3s);
		opacity: 0;
		top: 0;
		left: 0;
		h2 {
			width: 80%;
			text-align: center;
			position: absolute;
			bottom: 30%;
			left: 10%;
			font-size: 16px;
			font-weight: 300;
		}

		&:hover {
			opacity: 1;
			background-color: rgba(255,255,255,.8);
		}
	}
}
.site-footer {
	background-color: #23282d;
	color: #fff;
	padding: 50px 0;
	width: 100%;
	text-align: center;
}
article.hentry {
	width: 100%;

}
article.content-section-page, section.content-section-page {
	margin: 30px auto;
	padding: 20px 0;
	color: #fff;
	width: 100%;
	float: left;
}
.grey {
	color: #999;
}
.center {
	text-align: center;
}
.white-bg {
	background-color: #fff;
	width: 100%;
	float: left;
}
section.subnav {
	width: 100%;
	// background-color: #333;
	color: #fff;
	float: left;
	// border-top: 2px solid #fff;
	// border-bottom: 2px solid #fff;
	text-align: center;
	li {
		width: auto;
		display: inline-block;
	}
	a {
		width: auto;
		display: block;
		padding:  10px 25px  10px 25px;
		text-decoration: none;
		background-color: rgba($color-purple,.8);
		@include transition(all ease .3s);
		color: #fff;
		&:hover {
			background-color: rgba($color-purple,1);
		
		}
	}
}
#websignupform {
	width: 100%;
	position: relative;
	float: left;
	z-index: 6;	
	padding: 10px;
	color: #333;
	background-image: url(images/mail-icon.png);
	background-repeat: no-repeat;
	background-position: 0px 10px;
}
input#newsletters {
	width: 60%;
	text-align: left;	
	color: $color-purple;
	border-radius: 0;
	line-height: 2;
	background-color: rgba(#fff, .2);
	border-color: rgba(#fff, .2);
}
input#go {
	background-color: #fff;
	color: $color-purple;
	width: 35%;
	float: right;
	border-radius: 0;
	line-height: 2;
}
.link,
.link a,
#SignUp .signupframe {
	color: #226699;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	}
	.link,
	.link a {
		text-decoration: none;
		}
	#SignUp .signupframe {
		border: 1px solid #000000;
		background: #ffffff;
		}
#SignUp .signupframe .required {
	font-size: 10px;
	}
// .bg-black {
// 	width: 100%;
// 	height: 100%;
// 	position: absolute;
// 	background-color: #000;
// 	top: 0;
// 	left: 0;
// }